@media (max-width: 768px) {
  .ApresentacaoGi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }
   .textoSaude p {
    order: -1; 
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
   }
 .servicos {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    gap: 8px; 
  }
  .menu-toggle {
    display: block;
    font-size: 28px;
    color: #e0dbce;
    cursor: pointer;
    margin-left: auto;
  }

  .servicos.active {
    display: flex;
  }

  .servicos a {
    padding: 8px 12px;
    color: #553b2b;
    text-decoration: none;
    font-weight: 500;
  }
}
  .imagemOne {
    order: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
  }
  .textoPossivel {
    order: 1;
    font-size: 1.8rem;
    line-height: 1.3;
    margin: 10px 0;
  }
  .imagemTwo{
    display: none;
  }
  .icon{
 display: none;
  }
.itemTextoEsp{
    font-size: 15px;
}

 footer {
    padding: 20px 10px;
  }

  .footer-logo {
    flex-direction: column;
    gap: 5px;
  }

  .footer-logo img {
    width: 45px;
  }

  .footer-info {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer-info p {
    margin: 5px 0;
  }

  .footer-whatsapp {
    flex-direction: column;
    gap: 10px;
  }

  .footer-social {
    margin-top: 10px;
  }

  .footer-social a {
    font-size: 20px;
  }
  .whatsapp-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 0.3s ease;
  }

  .whatsapp-fixo:hover {
    transform: scale(1.1);
  }

  